<!DOCTYPE html>
<html lang="pt_BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Site para exibir e documentar trabalhos passados e para contato com clientes">
    <link rel="stylesheet" href="../public/css/style.css">
    <title>Galeria</title>
</head>
<body>
    <header >
        <div>
            <span style="margin-left: 0px;" title="Busque com mais velocidade o que deseja visualizar através desse filtro.">Categorias</span>
            <span title="Aqui são exibidas as novidades sobre meu trabalho seja novos produtos, ofertas, entre outros.            ">Novidades</span>
            <a href="#atuais" title="Ao clicar te levara para os meus projetos atuais.">Atuais</a>
        </div>
        <h1>Galeria</h1>
        <nav>
            <a href="/" style="margin-left: 0px;" title="Pagina inicial">Galeria</a>
            <a href="" title="Um pouco sobre minha historia e sobre como comecei nessa área.">Sobre</a>
            <a href="" title="Aqui e possível encontrar meu numero, e-mail ou ate mesmo mandar uma mensagem diretamente pelo site.">Contato</a>
        </nav>
        
    </header>
    <hr>
    <main>
        <section id="atuais">
            <h2 title="Abaixo aparece todos os projetos que eu estou desenvolvendo atualmente.">Atuais</h2>
            <div id="atuais-row">
                <div class="atuais-col">

                </div>
               
            </div>
        </section>
        <div class="linha"></div>
        <section>

        </section>
    </main>
    <footer>

    </footer>
    <script src="../public/js/script.js"></script>
</body>
</html>


